<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <title>サイトのタイトル</title>
    <meta name="keywords" content="">
    <meta name="description" content="ページ詳細. 120字以内に収める。最初の40字は大事。ページごとにそのページの詳細を記載する。">
    <meta name="author" content="製作者の名前or会社名">
    <link rel="canonical" href="正規のURLを検索エンジンにしめす。">

    <meta property="og:site_name" content="サイト名">
    <meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。">
    <meta property="og:description" content="ogpの本文。<meta name='description'>と同じにする。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="サイトのURL貼る">
    <meta property="og:image" content="ogpのURL貼る">
    <meta property="fb:app_id" content="App-ID（15文字の半角数字）" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:image" content="ogpのURL貼る">

    <link rel="icon" type="image/x-icon" href="デフォルト">

    <link rel="apple-touch-icon" href="Web Clip用のアイコンURL貼る">
    <link rel="apple-touch-icon" sizes="57x57" href="iPhone 3G">
    <link rel="apple-touch-icon" sizes="72x72" href="非Retina版のiPad 2、iPad miniの用、iOS 6以前">
    <link rel="apple-touch-icon" sizes="76x76" href="非Retina版のiPad 2、iPad miniの用、iOS 7以降">
    <link rel="apple-touch-icon" sizes="114x114" href="Retina版のiPhone、iPod touch用、iOS 6以前">
    <link rel="apple-touch-icon" sizes="120x120" href="Retina版のiPhone、iPod touch用、iOS 7以降">
    <link rel="apple-touch-icon" sizes="144x144" href="Retina版のiPad、iPad mini用、iOS 6以前">
    <link rel="apple-touch-icon" sizes="152x152" href="Retina版のiPad、iPad mini用、iOS 7以降">
    <link rel="apple-touch-icon" sizes="180x180" href="iPhone 6 plus">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Twitterかいせき</a>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>